<div class="container">
  <div class="text-center">
    <img
      src="../../assets/1a2d7e353c0acdb1fde1335dd20e1296.png"
      alt="ochacafe-premium"
      srcset=""
    />
  </div>
  <!-- <div class="row mt-4 mb-2">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <a class="btn btn-block btn-outline-success" routerLink="/fido/sign-in"
        >OpenID Connect (Keycloak)</a
      >
    </div>
    <div class="col-md-3">
      <a
        class="btn btn-block btn-outline-success"
        href="https://idcs-f0017ddeef0241cfbd70e057c032ff44.identity.oraclecloud.com/oauth2/v1/authorize?client_id=e5be4d01b55c4c60b288f1068a3f20bf&response_type=code&redirect_uri=http://168.138.212.177:4200/fido-login-success&scope=openid"
      >
        OpenID Connect (IDCS)
      </a>
    </div>
    <div class="col-md-3"></div>
  </div> -->
  <div class="row mt-4 mb-2">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <a class="btn btn-block btn-outline-success" routerLink="/sign-in"
        >FIDO2 Sign In</a
      >
    </div>
    <div class="col-md-3">
      <a
        class="btn btn-block btn-outline-success"
        href="https://idcs-f0017ddeef0241cfbd70e057c032ff44.identity.oraclecloud.com/oauth2/v1/authorize?client_id=e5be4d01b55c4c60b288f1068a3f20bf&response_type=code&redirect_uri=http://168.138.212.177:4200/fido-login-success&scope=openid"
      >
        FIDO2 Sign In (IDCS)
      </a>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row mt-2 mb-2">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      Don't have an account yet?
      <a routerLink="sign-up">Register now</a>
    </div>
    <div class="col-md-3">
      Don't have an account yet?
      <a
        href="https://idcs-f0017ddeef0241cfbd70e057c032ff44.identity.oraclecloud.com/ui/v1/signup?profileid=bc9673dc157e4b46b00cd63586d30658"
        >Register now</a
      >
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
